 .header-bar.default-decoration {
     padding-top: 1px;
     padding-bottom: 1px;
 }

 .header-bar.default-decoration .button.titlebutton {
     padding-top: 1px;
     padding-bottom: 1px;
 }
 
  /* gedit */
 
-GeditWindow .pane-separator, 
+GeditWindow .pane-separator,
 GeditWindow .pane-separator:hover {
     border-width: 0 1px 1px 1px;
     border-style: solid;
@@ -156,6 +156,10 @@ GeditPanel.vertical .notebook tab {
     padding: 3px;
 }
 
+GeditPanel.horizontal .notebook {
+    border-top: 0px;
+}
+
 GeditPanel.horizontal .notebook tab {
     padding: 0;
 }
